@model ProductModel
@{
    ViewData["Title"] = "Thêm sản phẩm";
}
<h3>Thêm sản phẩm</h3>
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input asp-for="price" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="description" id="description" class="form-control"></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="categoryId" class="form-control" asp-items="ViewBag.Category">
                <option>--- Chọn category ---</option>
            </select>
            <span asp-validation-for="categoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Brand</label>
            <select asp-for="brandId" class="form-control" asp-items="ViewBag.Brand">
                <option>--- Chọn brand ---</option>
            </select>
            <span asp-validation-for="brandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input asp-for="ImageUpload" class="form-control" />
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <img src="~/media/products/@Model.image" width="120" />
        </div>
        <div class="form-group">
            <button class="btn btn-success">Cập nhật</button>
        </div>
    </form>
    <a asp-action="Index">Trở về</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font
        } from 'ckeditor5';
        ClassicEditor
            .create(document.querySelector('#description'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}